bin
obj
/JsonItemFilters
/WordLists
*.csv
/WordLists
/JsonItemFilters
/Motely/JsonItemFilters
/Motely/WordLists
Motely/filters/NegativeScore=2.ini
.claude/settings.local.json
*.swp
.claude/settings.local.json
/.vscode
Motely/JsonItemFilters/perkeo-test.json
/Terminal.Gui-2_develop
